In [1]:
!pip install pyarrow
!pip install google-cloud-bigquery

Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.19.2)
Requirement already satisfied: google-cloud-bigquery in c:\programdata\anaconda3\lib\site-packages (2.17.0)
Requirement already satisfied: proto-plus>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.18.1)
Requirement already satisfied: packaging>=14.3 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (20.4)
Requirement already satisfied: protobuf>=3.12.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (3.17.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.6.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.24.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.23.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.28.0)
Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.3.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: google-auth<2.0dev,>=1.24.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-core<2.0dev,>=1.4.1->google-cloud-bigquery) (1.30.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.25.11)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: setuptools>=40.3.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (50.3.1.post20201107)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (2020.1)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0; extra == "grpc" in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.38.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in c:\programdata\anaconda3\lib\site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.1.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.24.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.24.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-bigquery) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.24.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: cffi>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.14.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.24.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (2.20)

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account

In [4]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'AdventureWorks', user = 'postgres', password = 'admin' )

In [5]:
cur = conn.cursor()
table = pd.read_sql_query( 'Select * From  Sales.SalesOrderHeader, Sales.Creditcard, Sales.Salesorderdetail, Sales.Salesterritory WHERE creditcard.creditcardid = SalesOrderHeader.creditcardid and SalesOrderHeader.salesorderid = Salesorderdetail.salesorderid and Salesterritory.territoryid = SalesOrderHeader.territoryid and status = 5', conn )
cur.close()

In [6]:
conn.close()

In [7]:
table.dtypes

salesorderid                       int64
revisionnumber                     int64
orderdate                 datetime64[ns]
duedate                   datetime64[ns]
shipdate                  datetime64[ns]
status                             int64
onlineorderflag                     bool
purchaseordernumber               object
accountnumber                     object
customerid                         int64
salespersonid                    float64
territoryid                        int64
billtoaddressid                    int64
shiptoaddressid                    int64
shipmethodid                       int64
creditcardid                       int64
creditcardapprovalcode            object
currencyrateid                   float64
subtotal                         float64
taxamt                           float64
freight                          float64
totaldue                         float64
comment                           object
rowguid                           object
modifieddate              datetime64[ns]
creditcardid                       int64
cardtype                          object
cardnumber                        object
expmonth                           int64
expyear                            int64
modifieddate              datetime64[ns]
salesorderid                       int64
salesorderdetailid                 int64
carriertrackingnumber             object
orderqty                           int64
productid                          int64
specialofferid                     int64
unitprice                        float64
unitpricediscount                float64
rowguid                           object
modifieddate              datetime64[ns]
territoryid                        int64
name                              object
countryregioncode                 object
group                             object
salesytd                         float64
saleslastyear                    float64
costytd                          float64
costlastyear                     float64
rowguid                           object
modifieddate              datetime64[ns]
dtype: object

In [8]:
table.head()

,salesorderid,revisionnumber,orderdate,duedate,shipdate,status,onlineorderflag,purchaseordernumber,accountnumber,customerid,...,territoryid,name,countryregioncode,group,salesytd,saleslastyear,costytd,costlastyear,rowguid,modifieddate
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,PO522145787,10-4020-000676,29825,...,5,Southeast,US,North America,2.538667e+06,3.925071e+06,0.0,0.0,6dc4165a-5e4c-42d2-809d-4344e0ac75e7,2008-04-30
1,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,PO522145787,10-4020-000676,29825,...,5,Southeast,US,North America,2.538667e+06,3.925071e+06,0.0,0.0,6dc4165a-5e4c-42d2-809d-4344e0ac75e7,2008-04-30
2,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,PO522145787,10-4020-000676,29825,...,5,Southeast,US,North America,2.538667e+06,3.925071e+06,0.0,0.0,6dc4165a-5e4c-42d2-809d-4344e0ac75e7,2008-04-30
3,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,PO522145787,10-4020-000676,29825,...,5,Southeast,US,North America,2.538667e+06,3.925071e+06,0.0,0.0,6dc4165a-5e4c-42d2-809d-4344e0ac75e7,2008-04-30
4,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,PO522145787,10-4020-000676,29825,...,5,Southeast,US,North America,2.538667e+06,3.925071e+06,0.0,0.0,6dc4165a-5e4c-42d2-809d-4344e0ac75e7,2008-04-30

In [15]:
grouping = table.groupby( table[ 'orderdate' ].dt.date ).agg( { 'customerid': 'mean','revisionnumber':'count' } ).reset_index().rename( columns = { 'customerid': 'id_customer' } ).sort_values( by = 'orderdate' )

In [16]:
grouping

       orderdate   id_customer  revisionnumber
0     2011-05-31  29628.495798             357
1     2011-06-01  16571.250000               4
2     2011-06-02  21629.400000               5
3     2011-06-03  20559.500000               2
4     2011-06-04  19890.600000               5
...          ...           ...             ...
1119  2014-06-26  20066.431034              58
1120  2014-06-27  18803.341463              82
1121  2014-06-28  18370.656250              64
1122  2014-06-29  19308.688525              61
1123  2014-06-30  18027.062500              96

[1124 rows x 3 columns]

In [17]:
credentials = service_account.Credentials.from_service_account_file( 
    'C:/Users/Rentadvisor/Downloads/taller-bigquery-48314721e491.json', 
    scopes = [ 'https://www.googleapis.com/auth/cloud-platform' ]
)

In [20]:
client = bigquery.Client( credentials = credentials, project = credentials.project_id )

In [23]:
job_config = bigquery.LoadJobConfig(
    schema = [
        # Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
        bigquery.SchemaField( 'orderdate', bigquery.enums.SqlTypeNames.DATE ),
        bigquery.SchemaField( 'id_customer', bigquery.enums.SqlTypeNames.FLOAT ),
        bigquery.SchemaField( 'revisionnumber', bigquery.enums.SqlTypeNames.INT64 ),
    ],
    # Drod and re-create table, if exist
    write_disposition = 'WRITE_TRUNCATE',
)

In [24]:
job = client.load_table_from_dataframe(
    grouping, 'databases2.grouping', job_config = job_config
)
job.result()

In [25]:
table = client.get_table( 'databases2.grouping' )
print(
    'Loaded {} rows and {} columns to {}'.format(
        table.num_rows, len( table.schema ), 'databases2.grouping'
    )
)

Loaded 1124 rows and 3 columns to databases2.grouping